@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Stats</h1>

<div class="form-group col-sm-12"></div>

<h3 id="statsHeader">Continents</h3>

<label class="btn btn-default" onclick="getResources('Continent')">Continents</label>
<label class="btn btn-default" onclick="getResources('Country')">Countries</label>
<label class="btn btn-default" onclick="getResources('CustomGroup')">Custom Groups</label>
<label class="btn btn-default" onclick="getResources('Player')">Players</label>

<div class="form-group col-sm-12"></div>

<table class="table table-hover" style="table-layout: fixed">
    <thead>
        <tr style="line-height: 40px; min-height: 40px; height: 40px;">
            <th colspan="2">Position</th>
            <th colspan="7" id="titleString">Title</th>
            <th colspan="3">Score</th>
        </tr>
    </thead>
    <tbody id="statsBody"></tbody>
</table>

<div class="row" id="loadMoreButtonPlace"></div>

<div class="form-group col-sm-12"></div>

<script>
    window.onload = function () {
        getResources('Continent', 1, true);
    };
</script>